<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% load static %}
		<link rel="stylesheet" href="{% static 'bookmybicycle/css/vendor/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'bookmybicycle/css/vendor/jquery-ui.min.css' %}">
		<link rel="stylesheet" href="{% static 'bookmybicycle/css/vendor/materialize/css/materialize.min.css' %}">

		<script type="text/javascript" src="{% static 'bookmybicycle/js/vendor/jquery-3.3.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bookmybicycle/js/vendor/jquery-ui.min.js' %}" ></script>
		<script type="text/javascript" src="{% static 'bookmybicycle/js/vendor/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bookmybicycle/js/index.js' %}"></script>
