{% include 'ext_includes/header.html' %}
{% load static %}
	<title>Parallax Website Demo</title>
	<link rel="stylesheet" href="{% static 'bookmybicycle/css/style.css' %}">
</head>
<body>

{% include 'ext_includes/nav.html' %}

	  <div class="container-fluid pimg1">
		<div class="ptext">
		  <span class="border">
			Bicycle
		  </span>
		</div>
	  </div>

	  <section class="container-fluid section section-light">
		<h2>Section One</h2>
		<p>
		  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
		  , laudantium, quibusdam? Nobis, delectus, commodi, fugit amet
		  tempora facere dolores nisi facilis consequatur, odio hic minima nostrum.
		  Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa
		  architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque
		  esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat
		  dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor
		  repellendus ratione in. Distinctio provident dolorem modi cumque illo enim quidem tempora deserunt
		  nostrum voluptate labore repellat quisquam quasi cum suscipit dolore ab consequuntur, ad porro earum temporibus.
		  Laborum ad temporibus ex, omnis!
		</p>
	  </section>

	  <div class="container-fluid pimg2">
		<div class="ptext">
		  <span class="border trans">
			Image Two Text
		  </span>
		</div>
	  </div>

	  <section class="container-fluid section section-green">
		<h2>Section Two</h2>
		<p>
		  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt,
		  laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora
		  facere dolores nisi facilis consequatur, odio hic minima nostrum.
		  Perferendis eos earum praesentium, blanditiis sapiente labore aliquam
		  ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi
		  cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam
		  fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque
		  fugiat dolor repellendus ratione in.
		</p>
	  </section>

	  <div class="container-fluid pimg3">
		<div class="ptext">
		  <span id="ptext3" class="border trans">
			Image Three Text
		  </span>
		</div>
	  </div>

	  <section class="container-fluid section section-light">
		<h2>Section Three</h2>
		<p>
		  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		  Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet
		  tempora facere dolores nisi facilis consequatur, odio hic minima nostrum.
		  Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae
		  . Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et,
		  dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam
		  blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
		</p>
	  </section>

	  <div class="container-fluid pimg1">
		<div class="ptext">
		  <span class="border">
			Traversy Media
		  </span>
		</div>
	  </div>
	</body>
</html>
