body{
  height: 100%;
  width: 100%;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #eee;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #5cb93a;
}
.navbar-inverse .navbar-collapse{
  border-color: #89e31a;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
  border-width: 1px!important;
  border-color: #5cb93a;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #a3e328;
  background-color: transparent;
}

.navbar-inverse{
	background-color: #3f8738;
  border-width: 0px;
  border-radius:0 0 25px 25px;
}

.navbar-toggle{
  border-width: 0px;
}

.navbar-fixed-top {
    position: absolute;
    top: 56px;
}

.sticky {
  position: fixed;
  top: 0;
}

.header {
    background-color: #515a52;
}
